<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Highlight the first autocomplete option</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="mat-typography mat-app-background">
  
  <h1>AUTOCOMPLETAR</h1>
  <autocomplete-auto-active-first-option-example></autocomplete-auto-active-first-option-example><br>
  <br>
  <h1>BADGE</h1>
  <badge-harness-example></badge-harness-example>
  <br>
  <h1>BOTTOM SHEET</h1>
  <bottom-sheet-overview-example></bottom-sheet-overview-example>
  <br>
  <h1>BOTON</h1>
  <button-overview-example></button-overview-example>
  <br>
  <h1>BOTON TOGGLE</h1>
  <button-toggle-mode-example></button-toggle-mode-example>
  <br>
  <h1>CARD</h1>
  <card-actions-example></card-actions-example>
  <br>
  <h1>CHECKBOX</h1>
  <checkbox-configurable-example></checkbox-configurable-example>
  <br>
  <h1>CHIPS</h1>
  <chips-autocomplete-example></chips-autocomplete-example>
  <br>
  <h1>DATEPICKER</h1>
  <datepicker-value-example></datepicker-value-example>
  <br>
  <h1>DIALOG ANIMATION</h1>
  <dialog-animations-example></dialog-animations-example>
  <br>
  <h1>DIVIDER</h1>
  <divider-overview-example></divider-overview-example>
  <br>
  <h1>FORM FIELD</h1>
  <form-field-overview-example></form-field-overview-example>
  <br>
  <h1>GRID LIST</h1>
  <grid-list-overview-example></grid-list-overview-example>
  <br>
  <h1>ICON</h1>
  <app-icon></app-icon>
  <br>
  <h1>INPUT</h1>
  <app-input></app-input>
  <br>
  <h1>LIST</h1>
  <app-list></app-list>  
  <br>
  <h1>MENU</h1>
  <app-menu></app-menu>
  <br>
  <h1>PAGINATOR</h1>
  <app-paginator></app-paginator>
  <br>
  <h1>PROGRESS BAR</h1>
  <progress-bar-determinate-example></progress-bar-determinate-example>
  <br>
  <h1>PROGRESS SPINER</h1>
  <app-progress-spinner></app-progress-spinner>
  <br>
  <h1>RADIO BUTTON</h1>
  <app-radio-button></app-radio-button><br>
  <br>
  <h1>RIPPLES</h1>
  <app-ripples></app-ripples><br>
  <br>
  <h1>SELECT CUSTOM</h1>
  <select-custom-trigger-example></select-custom-trigger-example><br>
  <br>
  <h1>SIDE NAV</h1>
  <app-sidenav></app-sidenav>
  <br>
  <h1>SLIDE TOGGLE</h1>
  <app-slide-toggle></app-slide-toggle>
  <br>
  <h1>SLIDER</h1>
  <app-slider></app-slider><br>
  <br>
  <h1>SNACKBAR</h1>
  <app-snackbar></app-snackbar><br>
  <br>
  <h1>SORT HEADER</h1>
  <app-sort-header></app-sort-header>
  <br>
  <h1>TABLE</h1>
  <app-table></app-table>
  <br>
  <h1>TABS</h1>
  <app-tabs></app-tabs>
  <br>
  <h1>TOOLBAR</h1>
  <app-toolbar></app-toolbar><br>
  <br>
  <div style="margin-top: 24px">Current build: 18.1.0</div>
</body>
</html>